/* @font-face {
  font-family: "Lastik", serif;
  src: url("./fonts/Lastik-Regular.woff2") format("woff2"),
    url("./fonts/Lastik-Regular.woff") format("woff"),
    url("./fonts/Lastik-Regular.ttf") format("truetype"),
    url("./fonts/Lastik-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("./fonts/manrope-Regular.woff2") format("woff2"),
    url("./fonts/manrope-Regular.woff") format("woff"),
    url("./fonts/manrope-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
} */
