@charset "UTF-8";
@font-face {
  font-family: "Lastik";
  src: url("/src/style/fonts/Lastik-Regular.woff2") format("woff2"),
    url("/src/style/fonts/Lastik-Regular.woff") format("woff"),
    url("/src/style/fonts/Lastik-Regular.ttf") format("truetype"),
    url("/src/style/fonts/Lastik-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
