body {
  background: rgb(236, 236, 236);
  margin: 0;
  font-family: "Lastik", sans-serif;
}
canvas {
  display: block;
}

#globeContainer {
  position: sticky;
  top: -10%;
  height: 100vh;
  z-index: 1;
}

#globeContainer canvas {
  margin: 0 auto;
}

section {
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: white;
}

canvas {
  touch-action: pan-y !important;
}
