body {
  background: rgb(236, 236, 236);
  margin: 0;
  font-family: "Lastik", sans-serif;
}
canvas {
  display: block;
}

#globeSection {
  position: sticky;
  top: -15%;
  height: 100vh;
}

#globeContainer canvas {
  margin: 0 auto;
}
